/* +++++++++++++++++++++++++++++++ Begin Jess index content ++++++++++ */
* {
	margin: 0;
	padding: 0;
	font-family: Arial, Verdana, sans-serif;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#active-link{
	background-color: #22ab03;
	color:white;
}

body{
	margin:0;
	font-size: small;
	font-family: Arial, Verdana, sans-serif;
	color:#4e5359;
	background-color:#e9eae9;
}

main{
	padding-top:9%;
	background-color:rgba(78, 89, 84, 0.2);
	display: block;
}


/* +++++++++++++++++++++++++++++++End Jess index content ++++++++++ */

/*+++++++++++++++++++++++++++++++++ Begin GusTegs+++++++++++++*/
a {
  color: white;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

img {
    max-width: 100%;
    border-radius: 2%;
    padding: 1%;
    width: 20%;
}

h1, h2, h3 {
 margin-top: 2%;
 margin-bottom: 2%;
 font-family: "Open Sans", sans-serif;
 font-weight: bold;
 color: #a7b7b5;
}

button.accordion {
    background-color: white;
    color: #4e5359;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 150%;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: white;

}

/*+++++++++++++++++++++++++++++++++End GusTegs+++++++++++++*/

/*+++++++++++++++++++++++++ Begin JessTags for Header and Footer++++++++++++++++++++*/
/*HEADER*/
header {
	background-color:white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	float: left;
	padding: 1em 1em;
	text-align: center;
	break-inside: avoid;
	z-index:2;
}

header img {
	width: 15em;
	float: left;
}

/* NAVIGATION */
#logo {
	color: white;
	background-color: white;
	display: block;
	padding: 0.5em;
	text-decoration: none;
	float: left;
}
#logo {
	width: auto;
}

nav,
  nav ul,
  nav li {           /* Normalisierung */
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;

  }

nav {
	background-color: white;
	padding: 0;
	margin-top:5em;
	margin-bottom: 0;
	margin-right:0;
	margin-left:30%;
	position:fixed;

	float: right;
}


nav ul {
	margin: 0;
	padding: 0;
}

nav li{
	float: left;
	margin: 0;
	padding: 0;
	list-style-type: none;      /* Aufzählungszeichen entfernen */
	position: relative;
}

nav a{
	display: block;
	color: black;                  /* Schriftfarbe schwarz */
	text-decoration: none;         /* Unterstreichung entfernen */
	padding:1em 2.5em;
}

nav a:hover,
nav a:active{
	background-color: #22ab03;
	color: white;
}

nav ul ul {
	margin: 0;
	padding: 0;
	position:absolute;
	top: 3.2em;
	font: 0/0 serif; /* Unternavigation ausblenden */
	z-index: -1;
}

nav ul li:hover ul {
	font:inherit;
	z-index: auto; /* Unternavigation einblenden */
	background-color: white;
	opacity:0.85;
}

nav ul ul li {
	display: block;
	margin:0;
	float: none;
	text-align:left;
}

nav ul ul li a{
	display: block;
    text-decoration: none;
	color:black;
    padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 5.5em;
}

/* Toggle Menü */
.menue-button {
	display: none;
}

/* CSS erweitern um MENÜ-Button und entsprechende Steuerung */
/*	Menü-Button oben rechts einblenden bei kleiner als 600px */
@media only screen and (max-width:63em) {
	#nav-menue{
		position:static;
	}

	.menue-button {
		display: block;
	}
	.menue-button {
		background-color: #22ab03;
		margin-top:5em;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		padding: 0.5em;
		color: white;
		cursor: pointer;
		text-decoration: none;
	}
	#logo {
		width: 100%;
	}
	#togglesteuerung {
		float: right;
		width: 100%;
		display: none;
		position:static;
	}
	#togglesteuerung li {
		width: 100%;
		border-bottom: 1px solid silver;
	}

	#togglesteuerung ul ul {
	margin: 0;
	padding: 0;
	position:static;
	top: 0;
	font: 0/0 serif; /* Unternavigation ausblenden */
	z-index: -1;
	}

	#togglesteuerung ul li:hover ul {
	font:inherit;
	z-index: auto; /* Unternavigation einblenden */
	background-color: #282828;
	}

	.menue-button:hover {
		color: white;
		background: #282828;
	}
}
/* die Steuerung einblenden (auch auf mobile Devices) */
#nav-menue:target #togglesteuerung {
	display: block;
}
/* ausblenden des Menü-Buttons zum öffnen - somit wird der zum Schließen sichtbar */
#nav-menue:target .menue-button-beschr-open {
	display: none ;
}

/*FOOTER*/

footer {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	background-color:white;
	position: relative;
	padding: 1em 1em;
	text-align:center;
	font-size:0.8em;
	color:black;
}

footer img{
	width:4em;
	padding-left:0.5em;
	padding-right:0.5em;
}

footer a{
	color: black;                  /* Schriftfarbe schwarz */
	text-decoration: none;         /* Unterstreichung entfernen */
	/* padding:1em 2.5em; */
}

footer a:hover,
footer a:active{
color: #22ab03;
}

/*+++++++++++++++++++++++++ End JessTags for Header and Footer++++++++++++++++++++*/
