.cuerpoTeam {
 background-color: rgba(254, 254, 254, 0.72);

}

.imgteam {
  max-width: 100%;
  padding: 1%;
  width: 50%;
}

.nameTeam {
  color: #22ab03;
  margin-top: 4%;
  margin-bottom: 4%;
  font-size: 150%;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.profil {
  box-shadow: 0 0 1em  grey;
  background-color: #fefefe;
  padding: 5% 7%;
  text-align: center;
  margin-top: 20%;
  margin-bottom: 20%;
  background: #e9eae9;
  width: 100%;

}

.teamP {
  text-align: justify;
  padding: 5%;
}
