/* acticle:nth-of-type(1) { background: green;}
article:nth-of-type(2) { background: yellow; }
article:nth-of-type(3) { background: silver; }
article:nth-of-type(4) { background: red; }
article:nth-of-type(5) { background: blue; }
article:nth-of-type(6) { background: orange; }
article:nth-of-type(7) { background: lime; } */

/* Raster */

.row1,
.row2,
.row3 {
width:auto;
padding:50px;
}

.row1,
.row3 {
	background-color: #282828;
}

.row1:before, 
.row1:after,
.row2:before, 
.row2:after,
.row3:before, 
.row3:after {
	content: " ";
	display: table;
}

.row1:after,
.row2:after,
.row3:after {
    clear: both;
}

.row2 {
	background-color: #e9eae9;
	color:black;
}

.columns {float:left;margin-top:1em;}

@media screen and (max-width:600px) {

/* Small */
.small-1 {width:98%;padding:1%}
.pic{width:100%;}

}

@media screen and (min-width:600px) and (max-width:1000px) {

/* Medium */
.medium-1 {width:48%;padding:1%}

.medium-2 {width:100%;}

.pic{width:100%;}

}

@media screen and (min-width:1000px) {

/* Large */
.large-1 {width:31.333%;padding:1%}

.large-2 {width:66.666%;}

.large-3 {width:100%;}

.pic{width:100%;}
}